@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Joel Hilton Movie Collection</h1>
    <br />
    <p>This is me:</p>
    <br />
    <img src="~/img/JoelHiltonHeadshot.jpg" />
    <p>I love movies so much that I minored in Film Studies at BYU, I am a contracted reveiwer for ClearPlay, and I have a weekly podcast about movies called Baconsale (see my Baconsale page)</p>
</div>
